<div class="container">
  <div class="table-container">
    <table class="table">
      <tr class="table-header-row">
        <th class="table-header">Expense</th>
        <th class="table-header">Payment Method</th>
        <th class="table-header">Amount</th>
      </tr>
      <tr class="table-data-row" *ngFor="let expense of expenses">
        <td class="table-data">{{expense.name}}</td>
        <td class="table-data">{{expense.type}}</td>
        <td
          class="table-data">{{expense.amount | currency:expense.currencyType?.toString():'symbol-narrow' | space}}</td>
      </tr>
    </table>
  </div>

  <button (click)="modalService.open('expenseModal')">
    Add Expense
  </button>
</div>

<app-modal id="expenseModal">
  <ng-form class="modal-input-container" [formGroup]="expenseForm">
    <label class="modal-label" for="expenseName">Expense Name</label>
    <input class="input-field" type="text" id="expenseName" formControlName="expenseName" placeholder="Expense Name">
    <br>
    <label class="modal-label" for="expenseType">Expense Type</label>
    <select class="input-field" name="expenseType" id="expenseType" formControlName="expenseType">
      <option value="{{ExpenseType.DEBIT}}">Debit</option>
      <option value="{{ExpenseType.CREDIT}}">Credit</option>
      <option value="{{ExpenseType.CASH}}">Cash</option>
    </select>
    <br>
    <label class="modal-label" for="expenseAmount">Expense Amount</label>
    <div class="currency-container">
      <select class="input-field currency-placeholder" name="currencyType" id="currencyType"
              formControlName="selectedCurrency">
        <option value="{{CurrencyType.USD}}">{{CurrencyType.USD.toString()}}</option>
        <option value="{{CurrencyType.EUR}}">{{CurrencyType.EUR.toString()}}</option>
        <option value="{{CurrencyType.RUB}}">{{CurrencyType.RUB.toString()}}</option>
      </select>
      <input class="input-field currency-input" type="text" id="expenseAmount" name="expenseAmount"
             placeholder="Expense Amount"
             formControlName="expenseAmount"/>
    </div>

    <div class="modal-button-container">
      <button class="modal-button cancel" (click)="modalService.close();">Cancel</button>
      <button class="modal-button submit" (click)="createNewExpense();">Submit</button>
    </div>
  </ng-form>
</app-modal>

